// app global css in SCSS form
body {
  font-family: 'Poppins', sans-serif;
}

body,
.bg-page {
  background-color: #ffffff;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  font-family: 'Montserrat', sans-serif;
}

.text-h4 {
  font-weight: 700
}

.text-h5 {
  font-weight: 600;
  font-size: 22px;
}

.text-h6 {
  font-size: 18px;
  font-weight: 600;
}

.text-h7 {
  font-size: 16px;
  font-weight: 600;
}

a.link,
.link {
  color: $primary;
  text-decoration: none
}

a.link-contractor,
.link-contrator {
  color: $dark;
  text-decoration: none
}

a.link-customer,
.link-customer {
  color: $secondary;
  text-decoration: none
}

a.link {
  cursor: pointer;
}

.layout-height {
  height: calc(100vh - 66px);
}

@media (max-width: $breakpoint-xs-max) {
  .q-card.modal {
    width: 95vw;
  }
}

@media (min-width: $breakpoint-xs-max) {
  .q-card.modal {
    min-width: 50vw;
    max-width: 50vw;
  }
}

.q-card.modal-order {
  min-width: 400px;
  max-width: 400px;
}

.q-card.modal-lg {
  min-width: 70vw;
  max-width: 70vw;
}

.q-card.modal-sm {
  min-width: 40vw;
  max-width: 40vw;
}

.border-white {
  border: 2px solid white;
}

.soft-shadow {
  box-shadow: 0 0 50px #ccc;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.q-card.shadow-xl {
  box-shadow: 0 .18rem .3rem rgba(166, 166, 185, .5), 0 .326rem 3rem rgba(122, 123, 151, .3);
}

.q-card,
.q-stepper {
  box-shadow: 0 0.46875rem 2.1875rem rgb(59 62 102 / 3%), 0 0.9375rem 1.40625rem rgb(59 62 102 / 3%), 0 0.25rem 0.53125rem rgb(59 62 102 / 5%), 0 0.125rem 0.1875rem rgb(59 62 102 / 3%);
}

.q-card.bg-seamless {
  background-color: #CAEBFC;
}

.q-card.flat {
  box-shadow: none;
}

.q-header.shadow {
  box-shadow: 0 0.46875rem 2.1875rem rgb(59 62 102 / 3%), 0 0.9375rem 1.40625rem rgb(59 62 102 / 3%), 0 0.25rem 0.53125rem rgb(59 62 102 / 5%), 0 0.125rem 0.1875rem rgb(59 62 102 / 3%);
}

.page-title {
  background: #fcfcfc;
}

.address-search-shrink {
  width: 200px;
}

.form-field-padding-dense {
  height: 40px;
}

.q-calendar-scheduler__head--day.q-current-day.q-active-date {
  background-color: $accent;
}

.container {
  max-width: 80%;
  margin: 0 auto;

  @media(max-width: $breakpoint-xs-max) {
    max-width: 100%;
  }
}

@media(max-width: $breakpoint-xs-max) {
  .add-product-menu {
    width: 95vw;
  }
}

.layout-container {
  max-width: 1200px;
  margin: 0 auto;
}

.order-event {
  position: absolute;
  font-size: 12px;
  justify-content: center;
  margin: 0 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.order-new-step {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background-color: #CAEBFC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

.order-new-step:hover {
  background-color: #E49AB1;
  cursor: pointer;
}

.order-new-step.active {
  background-color: #E49AB1;
}

.text-lg {
  font-size: 18px;
}

.ghost {
  opacity: .5 Imp !important;
  background: inherit;
  border: 1px solid #72cffd !important;
}

.cursor-move {
  cursor: move;
}

.q-table--grid .q-table__middle {
  min-height: 0px;
  margin-bottom: 0px;
}

.q-calendar-day__head--intervals {
  display: none !important;
}

.q-calendar-day__intervals-column {
  display: none !important;
}

.q-calendar-day__head--day,
.q-calendar-day__day {
  width: 14.3% !important;
  min-width: 14.3% !important;
  max-width: 14.3% !important;
}

.dayView {

  .q-calendar-day__head--day,
  .q-calendar-day__day {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}