// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary : #cf1677;
$secondary : #00aaf1;
$accent : #efc5cd;
$dark : #1a2c51;
$dark-page : #1a2c51;
$positive : #52B69A;
$negative : #b14b6b;
$info : #5AC1D8;
$warning : #D89E5A;